<div class="col-md-12">
  <div class="group">

    <% if current_user && current_user == @group.user %>
    <%= link_to("改", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>

  </div>
  <h2><%= @group.title %></h2>
  <p><%= simple_format(@group.description) %></p>

   <%= form_for [@group,Post.new] , :remote => true do |f| %>
     <div class="form-group">
       <%= f.text_area :content, placeholder: "点我写评论", :class => "form-control" %>
     </div>
     <div class="form-group">
       <%= f.submit "评", :class => "btn btn-primary" %>
     </div>
   <% end %>
   <div id="post-list">
  <% @posts.each do |post| %>
  <%= render :partial => post, :locals => { :post => post } %>
  <% end %>
  </div>

      <div class="text-center">
        <%= will_paginate @posts %>
      </div>
</div>
