<div class="col-md-12">
  <div class="group">

    <%= link_to("Write a Post", new_group_post_path(@group), class: "btn btn-default pull-right")%>

    <% if current_user && current_user == @group.user %>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>

  </div>
  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>

  <% @posts.each do |post| %>

  <div id="post-<%= post.id %>" class="panel panel-default">
    <div class="panel-heading"><%= post.user.display_name %><div style="float:right"><%= post.created_at %></div></div>
    <div class="panel-body">
      <%= post.content %>

      <% if current_user && post.user == current_user %>
      <p class="text-right">
        <%= link_to "Delete", group_post_path(post), :method => :delete, :remote => true, :class => "btn btn-danger" %>
      </p>
      <% end %>
    </div>
  </div>

  <% end %>

</div>
