<div id="post-<%= post.id %>" class="panel panel-default">
  <div class="panel-heading"><%= post.user.display_name %> 说：<div style="float:right"><%= time_ago_in_words post.created_at %></div></div>
  <div class="panel-body">
<span id="post-thumbsup-<%= post.id %>" class="label label-success"><%= post.likes.count %> 👍</span>
    <%= post.content %>
        <div class="text-right">

              <span id="post-like-<%= post.id %>">
                <%= render :partial => "posts/like", :locals => { :post => post } %>
              </span>

    <% if current_user && post.user == current_user %>
      <%= link_to "Delete", group_post_path(@group,post), :method => :delete, :remote => true, :class => "btn btn-danger" %>
    <% end %>
    </div>
  </div>
</div>
